{{> head }} {{> navbar }}
<div class="row">
  <div class="col-8">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus mollitia veniam, impedit eius aliquid ex quidem doloremque corrupti, perferendis esse totam quo temporibus! Asperiores, dolores. Nemo distinctio esse officia aliquam?</p>
  </div>
  <div class="col-4">
    <img src="assets/img/jonas.jpeg" alt="" class="img-thumbnail">
  </div>
</div>
{{> footer }}